:root {
    --accent-color: #FF5500;
    --coffee-color: #281409;
}

body {
    background-color: var(--coffee-color);
    text-align: center;
    font-size: 1.25em;
    color: #fff;
}
.hero {
    height: 100vh;
    padding: 125px 0;
}
.hero-title {
    font-weight: 800;
    font-size: 60px;
    display: flex;
    justify-content: center;
    animation: upDown 6s infinite;
    margin-bottom: 30px;
}
.hero-title img {
    width: 60px;
}
.btn {
    padding: 10px 20px;
    margin: 5px;
}
.hero-description {
    margin-bottom: 30px;
}

@keyframes upDown {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
}
@media (max-width: 600px) {
    .btn {min-width: 227px;}
    .hero-title img {width: 40px;}
    .hero-title{font-size: 40px;}
    body {font-size: 1rem;}
}
